n8n/workflow-daily-exec-orders.json
{
  "name": "CivicPulse — Daily Executive Order Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "cron-daily",
      "name": "Daily 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const { chromium } = require('playwright');\n\nconst url = 'https://jerseycitynj.gov/cityhall/MayorSolomon/mayoralexecutiveorders';\nconst browser = await chromium.launch({ headless: true });\nconst page = await browser.newPage();\n\ntry {\n  await page.goto(url, { waitUntil: 'networkidle', timeout: 30000 });\n  const content = await page.content();\n\n  // Extract text and look for executive orders\n  const text = content\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  // Look for executive order patterns\n  const eoPattern = /Executive\\s+Order\\s+(?:No\\.?\\s*)?(\\d{4}[-.\\s]*\\d{1,4})/gi;\n  const orders = [];\n  let match;\n\n  while ((match = eoPattern.exec(text)) !== null) {\n    const num = match[1].replace(/\\s+/g, '-');\n    const idx = match.index;\n    const context = text.slice(Math.max(0, idx - 50), Math.min(text.length, idx + 200)).trim();\n\n    // Check for dates near the match\n    const dateMatch = context.match(/(\\w+ \\d{1,2},? \\d{4})|(\\d{1,2}\\/\\d{1,2}\\/\\d{2,4})/);\n    const dateStr = dateMatch ? dateMatch[0] : null;\n\n    // Only include if it looks recent (within last 2 days)\n    let isRecent = true;\n    if (dateStr) {\n      const orderDate = new Date(dateStr);\n      const yesterday = new Date();\n      yesterday.setDate(yesterday.getDate() - 2);\n      isRecent = orderDate >= yesterday;\n    }\n\n    orders.push({\n      ordinance_num: `EO-${num}`,\n      title: `Executive Order ${num}`,\n      doc_type: 'exec_order',\n      source_url: url,\n      current_state: 'INTRODUCED',\n      full_text: context,\n      is_recent: isRecent\n    });\n  }\n\n  await browser.close();\n\n  // Filter to recent orders only\n  const recentOrders = orders.filter(o => o.is_recent);\n  \n  if (recentOrders.length === 0) {\n    return [{ noNewOrders: true }];\n  }\n  \n  return recentOrders;\n} catch (err) {\n  await browser.close();\n  console.error('Error fetching exec orders:', err.message);\n  return [{ error: err.message }];\n}"
      },
      "id": "fetch-exec-orders",
      "name": "Fetch Executive Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !$json.noNewOrders && !$json.error }}",
              "operation": "true"
            }
          ]
        }
      },
      "id": "check-new-orders",
      "name": "Any New Orders?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient($env.SUPABASE_URL, $env.SUPABASE_SERVICE_KEY);\n\nconst items = $input.all().map(i => i.json);\nconst notifiable = [];\n\nfor (const item of items) {\n  const slug = item.title.toLowerCase().replace(/[^a-z0-9]/g, '_').slice(0, 40);\n  const id = `${item.ordinance_num}_${slug}`;\n\n  const { data: existing } = await supabase.from('ordinances').select('id, current_state').eq('id', id).single();\n\n  if (!existing) {\n    await supabase.from('ordinances').insert({ id, ...item });\n    notifiable.push({ ...item, id });\n  }\n}\n\nreturn notifiable.length ? notifiable : [{ noNew: true }];"
      },
      "id": "state-tracker-eo",
      "name": "State Tracker (Exec Orders)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const { createClient } = require('@supabase/supabase-js');\nconst Anthropic = require('@anthropic-ai/sdk');\nconst { Resend } = require('resend');\n\nconst supabase = createClient($env.SUPABASE_URL, $env.SUPABASE_SERVICE_KEY);\nconst anthropic = new Anthropic.default();\nconst resend = new Resend($env.RESEND_API_KEY);\nconst VOTE_BASE = $env.VOTE_BASE_URL || 'https://your-app.vercel.app';\n\nconst items = $input.all().map(i => i.json).filter(i => !i.noNew);\nif (!items.length) return [{ skipped: true }];\n\nconst { data: profiles } = await supabase.from('profiles').select('*').eq('active', true);\nif (!profiles?.length) return [{ noProfiles: true }];\n\nconst sent = [];\n\nfor (const profile of profiles) {\n  const analyzed = [];\n  for (const item of items) {\n    const msg = await anthropic.messages.create({\n      model: 'claude-opus-4-20250514',\n      max_tokens: 1024,\n      messages: [{ role: 'user', content: `Analyze this executive order for a Jersey City resident. Return JSON only.\\n\\nDOCUMENT: ${item.title}\\n${item.full_text || ''}\\n\\nPROFILE: Ward ${profile.ward}, ${profile.housing}, ${profile.transport}, kids: ${profile.has_kids}, interests: ${(profile.interests||[]).join(', ')}\\n\\nReturn: {\"plain_title\":\"\",\"what_is_happening\":\"\",\"personal_impact\":\"\",\"relevance_score\":<1-10>,\"current_status\":\"INTRODUCED\",\"status_context\":\"\",\"action_available\":false}` }]\n    });\n    try {\n      let text = msg.content[0].text.trim();\n      const fence = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n      if (fence) text = fence[1].trim();\n      const parsed = JSON.parse(text);\n      if (parsed.relevance_score >= 5) analyzed.push({ ...parsed, ordinance_id: item.id, doc_type: 'exec_order' });\n    } catch {}\n  }\n\n  if (analyzed.length) {\n    const weekDate = new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });\n    const itemsHtml = analyzed.map(a => `<div style=\"background:#fff;border:1px solid #e5e7eb;border-radius:8px;padding:20px;margin-bottom:16px;\"><span style=\"background:#f59e0b;color:#fff;font-size:11px;font-weight:600;padding:2px 8px;border-radius:4px;\">EXECUTIVE ORDER</span><h3>${a.plain_title}</h3><p>${a.what_is_happening}</p><div style=\"background:#eff6ff;border-left:3px solid #3b82f6;padding:12px;\"><strong>What this means for you:</strong> ${a.personal_impact}</div></div>`).join('');\n    const html = `<div style=\"max-width:600px;margin:0 auto;padding:20px;\"><h1>Executive Order Alert</h1><p>Ward ${profile.ward} · ${weekDate}</p>${itemsHtml}</div>`;\n\n    await resend.emails.send({\n      from: 'CivicPulse <onboarding@resend.dev>',\n      to: [profile.email],\n      subject: `\\u{1F3D9}\\uFE0F JC Alert — ${analyzed[0].plain_title}`,\n      html\n    });\n    sent.push(profile.email);\n  }\n}\n\nreturn [{ sent }];"
      },
      "id": "analyze-and-send",
      "name": "Analyze & Send Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Daily 9AM": {
      "main": [
        [{ "node": "Fetch Executive Orders", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Executive Orders": {
      "main": [
        [{ "node": "Any New Orders?", "type": "main", "index": 0 }]
      ]
    },
    "Any New Orders?": {
      "main": [
        [{ "node": "State Tracker (Exec Orders)", "type": "main", "index": 0 }],
        []
      ]
    },
    "State Tracker (Exec Orders)": {
      "main": [
        [{ "node": "Analyze & Send Alerts", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "CivicPulse" }]
}
