n8n/workflow-weekly-digest.json
{
  "name": "CivicPulse — Weekly Council Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtDay": 4
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Weekly Thursday 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const { chromium } = require('playwright');\n\nconst CIVICWEB_BASE = 'https://cityofjerseycity.civicweb.net';\nconst MEETING_LIST_URL = `${CIVICWEB_BASE}/Portal/MeetingInformation.aspx`;\n\nconst browser = await chromium.launch({ headless: true });\nconst page = await browser.newPage();\n\n// Get recent meetings\nawait page.goto(MEETING_LIST_URL, { waitUntil: 'networkidle', timeout: 30000 });\nconst meetings = await page.evaluate((base) => {\n  return Array.from(document.querySelectorAll('a.list-link')).slice(0, 2).map(a => ({\n    title: a.textContent.trim(),\n    url: `${base}${a.getAttribute('href') || ''}`\n  }));\n}, CIVICWEB_BASE);\n\nconst allItems = [];\n\nfor (const meeting of meetings) {\n  await page.goto(meeting.url, { waitUntil: 'networkidle', timeout: 30000 });\n  const folderUrl = await page.evaluate((base) => {\n    const links = Array.from(document.querySelectorAll('a'));\n    for (const link of links) {\n      if (link.textContent.trim().toUpperCase().includes('ORDINANCES') && (link.getAttribute('href') || '').includes('filepro')) {\n        const href = link.getAttribute('href');\n        return href.startsWith('http') ? href : `${base}${href}`;\n      }\n    }\n    return null;\n  }, CIVICWEB_BASE);\n\n  if (!folderUrl) continue;\n\n  await page.goto(folderUrl, { waitUntil: 'networkidle', timeout: 30000 });\n  const items = await page.evaluate((base) => {\n    return Array.from(document.querySelectorAll('a')).filter(a => /^(Ord\\.|Res\\.)\\s*\\d{2,4}-\\d{1,4}/i.test(a.textContent.trim())).map(a => {\n      const text = a.textContent.trim();\n      const m = text.match(/^(Ord\\.|Res\\.)\\s*(\\d{2,4}-\\d{1,4})/i);\n      const prefix = m[1].toLowerCase().startsWith('ord') ? 'Ord' : 'Res';\n      return {\n        ordinance_num: `${prefix}-${m[2]}`,\n        title: text.replace(/\\s*-\\s*Pdf\\s*$/i, '').trim(),\n        doc_type: prefix === 'Ord' ? 'ordinance' : 'resolution',\n        source_url: `${base}${a.getAttribute('href') || ''}`,\n        current_state: /withdrawn/i.test(text) ? 'WITHDRAWN' : 'INTRODUCED'\n      };\n    });\n  }, CIVICWEB_BASE);\n\n  allItems.push(...items);\n}\n\nawait browser.close();\nreturn allItems;"
      },
      "id": "fetch-civicweb",
      "name": "Fetch CivicWeb Agenda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const { createClient } = require('@supabase/supabase-js');\n\nconst supabase = createClient(\n  $env.SUPABASE_URL,\n  $env.SUPABASE_SERVICE_KEY\n);\n\nconst VALID_TRANSITIONS = {\n  INTRODUCED: ['AMENDED', 'COMMITTEE', 'VOTED', 'WITHDRAWN'],\n  AMENDED: ['COMMITTEE', 'VOTED', 'WITHDRAWN'],\n  COMMITTEE: ['VOTED', 'WITHDRAWN'],\n  VOTED: ['PASSED', 'FAILED'],\n  PASSED: [], FAILED: [], WITHDRAWN: []\n};\n\nconst items = $input.all().map(i => i.json);\nconst notifiable = [];\n\nfor (const item of items) {\n  const slug = item.title.toLowerCase().replace(/[^a-z0-9]/g, '_').slice(0, 40);\n  const id = `${item.ordinance_num}_${slug}`;\n\n  const { data: existing } = await supabase.from('ordinances').select('id, current_state').eq('id', id).single();\n\n  if (existing) {\n    if (existing.current_state !== item.current_state) {\n      await supabase.from('ordinances').update({\n        previous_state: existing.current_state,\n        current_state: item.current_state,\n        last_updated: new Date().toISOString(),\n        notified_at: null\n      }).eq('id', id);\n      notifiable.push({ ...item, id });\n    }\n  } else {\n    await supabase.from('ordinances').insert({ id, ...item });\n    notifiable.push({ ...item, id });\n  }\n}\n\nreturn notifiable;"
      },
      "id": "state-tracker",
      "name": "State Tracker Upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const { createClient } = require('@supabase/supabase-js');\n\nconst supabase = createClient(\n  $env.SUPABASE_URL,\n  $env.SUPABASE_SERVICE_KEY\n);\n\nconst { data: profiles } = await supabase.from('profiles').select('*').eq('active', true);\nreturn profiles || [];"
      },
      "id": "fetch-profiles",
      "name": "Fetch Active Profiles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const Anthropic = require('@anthropic-ai/sdk');\nconst client = new Anthropic.default();\n\nconst profiles = $input.all().map(i => i.json);\nconst notifiable = $('State Tracker Upsert').all().map(i => i.json);\n\nif (!notifiable.length) return [];\n\nconst results = [];\n\nfor (const profile of profiles) {\n  const analyzedItems = [];\n\n  for (const item of notifiable) {\n    const prompt = `You are a civic intelligence assistant for Jersey City, NJ residents.\\n\\nAnalyze the following government document and user profile. Return a JSON object only — no markdown, no preamble.\\n\\nDOCUMENT:\\n${item.title} (${item.doc_type})\\nStatus: ${item.current_state}\\n\\nUSER PROFILE:\\nWard: ${profile.ward}\\nHousing: ${profile.housing}\\nTransport: ${profile.transport}\\nHas kids: ${profile.has_kids}\\nInterests: ${(profile.interests || []).join(', ')}\\n\\nReturn this exact JSON structure:\\n{\\n  \"plain_title\": \"short plain-English title\",\\n  \"what_is_happening\": \"2 sentences max\",\\n  \"personal_impact\": \"1-2 sentences for THIS user\",\\n  \"relevance_score\": <1-10>,\\n  \"current_status\": \"${item.current_state}\",\\n  \"status_context\": \"one sentence\",\\n  \"action_available\": <true|false>\\n}\\n\\nOnly return the JSON.`;\n\n    const msg = await client.messages.create({\n      model: 'claude-opus-4-20250514',\n      max_tokens: 1024,\n      messages: [{ role: 'user', content: prompt }]\n    });\n\n    let parsed;\n    try {\n      let text = msg.content[0].text.trim();\n      const fence = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n      if (fence) text = fence[1].trim();\n      parsed = JSON.parse(text);\n    } catch { continue; }\n\n    if (parsed.relevance_score >= 5) {\n      analyzedItems.push({ ...parsed, ordinance_id: item.id, doc_type: item.doc_type });\n    }\n  }\n\n  if (analyzedItems.length) {\n    analyzedItems.sort((a, b) => b.relevance_score - a.relevance_score);\n    results.push({ profile, items: analyzedItems });\n  }\n}\n\nreturn results;"
      },
      "id": "claude-analyze",
      "name": "Claude Analysis per Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "jsCode": "const { Resend } = require('resend');\nconst resend = new Resend($env.RESEND_API_KEY);\nconst VOTE_BASE = $env.VOTE_BASE_URL || 'https://your-app.vercel.app';\n\nconst digests = $input.all().map(i => i.json);\nconst sent = [];\n\nfor (const digest of digests) {\n  const { profile, items } = digest;\n  const weekDate = new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });\n\n  const itemsHtml = items.map(item => {\n    const colors = { INTRODUCED:'#3b82f6', AMENDED:'#f59e0b', COMMITTEE:'#8b5cf6', VOTED:'#6366f1', PASSED:'#10b981', FAILED:'#ef4444', WITHDRAWN:'#6b7280' };\n    const c = colors[item.current_status] || '#6b7280';\n    return `<div style=\"background:#fff;border:1px solid #e5e7eb;border-radius:8px;padding:20px;margin-bottom:16px;\">\n      <span style=\"background:#f3f4f6;color:#374151;font-size:11px;font-weight:600;padding:2px 8px;border-radius:4px;text-transform:uppercase;margin-right:8px;\">${item.doc_type}</span>\n      <span style=\"background:${c};color:#fff;font-size:11px;font-weight:600;padding:2px 8px;border-radius:4px;\">${item.current_status}</span>\n      <h3 style=\"margin:8px 0;font-size:18px;color:#111827;\">${item.plain_title}</h3>\n      <p style=\"color:#4b5563;font-size:14px;\">${item.what_is_happening}</p>\n      <div style=\"background:#eff6ff;border-left:3px solid #3b82f6;padding:12px;margin:12px 0;\"><strong>What this means for you:</strong> ${item.personal_impact}</div>\n      <p style=\"font-size:13px;color:#6b7280;\">${item.status_context}</p>\n      <a href=\"${VOTE_BASE}/api/vote?user=${profile.id}&item=${item.ordinance_id}&vote=up\" style=\"background:#f0fdf4;color:#166534;padding:6px 16px;border-radius:6px;text-decoration:none;margin-right:8px;\">&#128077; Support</a>\n      <a href=\"${VOTE_BASE}/api/vote?user=${profile.id}&item=${item.ordinance_id}&vote=down\" style=\"background:#fef2f2;color:#991b1b;padding:6px 16px;border-radius:6px;text-decoration:none;\">&#128078; Oppose</a>\n    </div>`;\n  }).join('');\n\n  const html = `<div style=\"max-width:600px;margin:0 auto;padding:20px;font-family:-apple-system,sans-serif;\">\n    <h1 style=\"text-align:center;\">Your Jersey City Digest</h1>\n    <p style=\"text-align:center;color:#6b7280;\">Week of ${weekDate} · Ward ${profile.ward}</p>\n    ${itemsHtml}\n    <p style=\"text-align:center;font-size:12px;color:#9ca3af;\">CivicPulse · Jersey City · <a href=\"${VOTE_BASE}/unsubscribe?user=${profile.id}\">Unsubscribe</a></p>\n  </div>`;\n\n  const subject = `\\u{1F3D9}\\uFE0F JC This Week — ${items[0].plain_title}`;\n\n  const { data, error } = await resend.emails.send({\n    from: 'CivicPulse <onboarding@resend.dev>',\n    to: [profile.email],\n    subject,\n    html\n  });\n\n  if (!error) sent.push({ email: profile.email, itemCount: items.length });\n}\n\nreturn sent;"
      },
      "id": "send-emails",
      "name": "Send Personalized Digests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "jsCode": "const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient($env.SUPABASE_URL, $env.SUPABASE_SERVICE_KEY);\n\nconst notifiable = $('State Tracker Upsert').all().map(i => i.json);\nconst ids = notifiable.map(i => i.id);\n\nif (ids.length) {\n  await supabase.from('ordinances').update({ notified_at: new Date().toISOString() }).in('id', ids);\n}\n\nreturn [{ markedNotified: ids.length }];"
      },
      "id": "mark-notified",
      "name": "Mark Notified",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    }
  ],
  "connections": {
    "Weekly Thursday 8AM": {
      "main": [
        [{ "node": "Fetch CivicWeb Agenda", "type": "main", "index": 0 }]
      ]
    },
    "Fetch CivicWeb Agenda": {
      "main": [
        [{ "node": "State Tracker Upsert", "type": "main", "index": 0 }]
      ]
    },
    "State Tracker Upsert": {
      "main": [
        [{ "node": "Fetch Active Profiles", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Active Profiles": {
      "main": [
        [{ "node": "Claude Analysis per Profile", "type": "main", "index": 0 }]
      ]
    },
    "Claude Analysis per Profile": {
      "main": [
        [{ "node": "Send Personalized Digests", "type": "main", "index": 0 }]
      ]
    },
    "Send Personalized Digests": {
      "main": [
        [{ "node": "Mark Notified", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "CivicPulse" }]
}
